@model My_WebApp.Models.RoleViewModel

@{
    ViewBag.Title = "Delete role";
}

@Html.ActionLink("К списку", "Details", new { controller = "Role", id = "all" })

<h2>Удалить роль</h2>

@using (Html.BeginRouteForm("Default", null, FormMethod.Post,
    new { @class = "roleCssClass", data_formType = "role" }))
{
    @Html.DisplayForModel();
    <input type="submit" value="Удалить" />
}