@Html.ActionLink("К списку", "GetAll", new { controller = "File", id = "all" })

<h2>Добавить файл</h2>
<h3>Выберите файл для загрузки</h3>
@using (Html.BeginForm("Create", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" /><br>
    <input type="submit" value="Загрузить" />
}