
<h2>Список файлов</h2>

@Html.ActionLink("Изменить", "Edit",new { controller = "File", id = 0 })
@Html.ActionLink("Просмотр", "Index",new { controller = "File", id = 0 })
@Html.ActionLink("Удалить", "Delete",new { controller = "File", id = 0 })
@Html.ActionLink("Добавить", "Create", new { controller = "File" })